<nav>
	<div class="container">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">User Dashboard</a>
			<a href="#" data-target="mobile-view" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<% if(user == undefined){ %>
				<li><a href="/signin">Sign In</a></li>
				<li><a href="/register">Register</a></li>
				<% }else{ %>
				<li><a href="/edit/<%= user.user_id%>"><%= user.first_name%> <%= user.last_name%></a></li>
				<li><a href="/logout">Logout</a></li>
				<% }%>
			</ul>
		</div>
	</div>
</nav>

<ul class="sidenav" id="mobile-view">
	<% if(user == undefined){ %>
	<li><a href="/signin">Sign In</a></li>
	<li><a href="/register">Register</a></li>
	<% }else{ %>
	<li><a href="/edit/<%= user.user_id%>"><%= user.first_name%> <%= user.last_name%></a></li>
	<li><a href="/logout">Logout</a></li>
	<% }%>
	<!-- <li><a href="/sign_in">Sign In</a></li>
	<li><a href="/register">Register</a></li> -->
</ul>
